#coscontainer{
	height:100%;
}
#final{
	margin-bottom:20px;
}

.empty{
	color:green;
	font-size:40px;
	
}
.cartbutton {
	color:white;
	background-color:green;
	padding:3px;
	font-size:20px;
	margin-left:29%;
	border-left:2px solid gray;
	border-top:2px solid gray;
	border-right:2px solid black;
	border-bottom:2px solid black;
	text-decoration:none;
	font-family:"Arial";
}
.cartbutton:hover{
	color:white;
	text-decoration: none;

}
.cartbutton:active{
	background-color:darkseagreen;

}
